<div>
  <input type="button" (click)="getQr()" value="get qr"/>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Local</th>
        <th>Nom</th>
        <th>Adresse IP</th>
        <th>Adresse MAC</th>
        <th>Commentaire</th>
        <th><input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll()"/></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let machine of listMachine">
        <td>{{ machine.local }}</td>
        <td>{{ machine.name }}</td>
        <td>{{ machine.ip }}</td>
        <td>{{ machine.macaddress }}</td>
        <td>{{ machine.comment }}</td>
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="machine.checked"  (change)="checkIfAllSelected()">
        </div>
      </tr>
    </tbody>
  </table>
</div>