<div ng-controller="LoginController" class="connection ">
  <div class="container">
      <div class="row">
          <!-- LOGIN -->
          <div class="col-md-6 login_form col-md-offset-3" *ngIf="newLogin else signin">
            <div class="login-panel panel panel-default border border-dark">
                  <div class="panel-heading" style="text-align: center">
                      <h3 class="panel-title">Login</h3>
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <form [formGroup]="loginForm" (ngSubmit)="logIn()" class="col-xs-10 col-xs-offset-1" id="loginForm" role="form">
                              <fieldset>
                                  <div class="form-group">
                                      <fieldset>
                                          Login:
                                          <input class="form-control" placeholder="Login" formControlName="login" type="text" autofocus>
                                      </fieldset>
                                  </div>
                                  <div class="form-group">
                                      <fieldset>
                                          Password:
                                          <input class="form-control" placeholder="Password" formControlName="password" type="password" value="">
                                      </fieldset>
                                  </div>
                                  <br>
                                  <div class="form-group">
                                      <fieldset>
                                          <button class="btn btn-xl col-xs-6 col-xs-offset-3 btn-primary" type="submit">Log In</button>
                                      </fieldset>
                                  </div>
                              </fieldset>
                          </form>
                      </div>
                      <div style="text-align: right; padding-right: 15px">
                          <p>
                              <a (click)="change()">Sign in</a>
                          </p>

                      </div>
                  </div>
                  <div class="panel-heading panel-heading-bottom" style="text-align: center">
                      <h2></h2>
                  </div>
                </div>
          </div>
          <!-- SIGNIN -->
          <ng-template #signin>
              <div class="col-md-6 login_form col-md-offset-3">
                  <div class="login-panel panel panel-default">
                      <div class="panel-heading" style="text-align: center">
                          <h2 class="panel-title">Sign In</h2>
                      </div>
                      <div class="panel-body">
                          <div class="row">
                              <form (ngSubmit)="signIn()" class="col-xs-10 col-xs-offset-1" [formGroup]="signinForm" role="form">
                                  <fieldset>
                                      <div class="form-group">
                                          <div class="row">
                                              <fieldset class="col-xs-6">
                                                  Firstname :
                                                  <input class="form-control" placeholder="John" formControlName="firstname" type="text" >
                                              </fieldset>
                                              <fieldset class="col-xs-6">
                                                  Lastname :
                                                  <input class="form-control" placeholder="Bayer" formControlName="lastname" type="text" >
                                              </fieldset>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <fieldset>
                                              Email :
                                              <input class="form-control" placeholder="john@bayer.com" formControlName="mail" type="email" >
                                          </fieldset>
                                      </div>
                                      <hr>
                                      <div class="form-group">
                                          <fieldset>
                                              Login :
                                              <input class="form-control" placeholder="JohnBayer" formControlName="username" type="text" >
                                          </fieldset>
                                      </div>
                                      <div class="form-group" formGroupName="passwords">
                                        <div class="form-group">
                                          <fieldset>
                                              Password :
                                              <input class="form-control" placeholder="**********" formControlName="password" type="password" value="" >
                                          </fieldset>
                                        </div>
                                        <div class="form-group">
                                          <fieldset>
                                              Confirm Password:
                                              <input class="form-control" placeholder="**********" formControlName="passwordConf" type="password" value="" >
                                          </fieldset>
                                        </div>
                                      </div>
                                      <br>
                                      <div class="form-group">
                                          <fieldset>
                                              <button class="btn btn-xl col-xs-6 col-xs-offset-3 btn-primary" type="submit" >Sign In</button>
                                          </fieldset>
                                      </div>
                                  </fieldset>
                              </form>
                          </div>
                          <div style="text-align: right; padding-right: 15px">
                              <p>
                                  <a (click)="change()">Log in</a>
                              </p>
                          </div>
                      </div>
                      <div class="panel-heading panel-heading-bottom" style="text-align: center">
                          <h2></h2>
                      </div>
                  </div>
              </div>
          </ng-template>
      </div>
  </div>
</div>