<div id="content_bug">
  <button class="btn btn-primary">
    ipscan
  </button>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Machine</th>
        <th>Description</th>
        <th>Mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bug of listBug">
        <td class="text-center">{{ bug.machinename }}</td>
        <td>{{ bug.descrip }}</td>
        <td class="text-center">{{ bug.mailuser }}</td>
        <td class="text-center">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" 
                  (change)="changeCheck(bug._id, bug.statusinfo)" [(ngModel)]="bug.statusinfo">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>